.Anotacion {
    position: relative;
}

.anotar {
    bottom: 2rem;
    position: sticky;
    transform: translate(0, -50%);
    padding: 0.5rem;
    line-height: 1.2rem;
    background-color: var(--background);
    box-shadow: 4px 4px 1px var(--border),
        inset 4px 4px 1px var(--border);
        text-align: center;
}

.boton_anotar {
    width: 100%;
    border: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 1px var(--border),
        inset 2px 2px 1px var(--border);
    background-color: var(--foreground);
    transition: background-color 0.3s ease-in;
}

.boton_anotar:active,
.boton_anotar:hover,
.boton_anotar:focus {
    background-color: var(--muted);
    color: var(--foreground);
    cursor: pointer;
}