.color_primary {
    color: var(--primary);
}

.color_cyan {
    color: var(--pixel-cyan);
}

.color_yellow {
    color: var(--pixel-yellow);
}

.color_orange {
    color: var(--pixel-orange);
}

.color_red {
    color: var(--pixel-red);
}

.color_muted {
    color: var(--secondary-foreground);
}




.border_orange {
    border: solid 4px var(--pixel-orange);
}



.fondo_cyan {
    background-color: var(--pixel-cyan);
}

.fondo_primary {
    background-color: var(--primary);
}

.fondo_yellow {
    background-color: var(--pixel-yellow);
}

.fondo_orange {
    background-color: var(--pixel-orange);
}

.fondo_red {
    background-color: var(--pixel-red);
}