.Encabezado {
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: solid 3px var(--primary);
  transition: 0.5s ease;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: color-mix(in oklab, var(--background) 95%, transparent);
  font-size: 0.65rem;
  padding: 0.6rem 0;
}

/* 
.Encabezado>img {
  width: 80px;
  filter: drop-shadow(0 0 5px var(--foreground)) drop-shadow(0 0 15px var(--foreground));
} */

.Encabezado>h1 {
  font-size: 0.8rem;
  color: var(--primary);
  text-shadow: 0 0 10px var(--primary), 0 0 20px var(--primary), 0 0 40px var(--primary);
}

.nav_principal {
  /* background-color: var(--primary); */
}

.nav_principal>ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.nav_principal>ul>li {
  list-style: none;
}


.nav_principal>ul>li>a {
  padding: 0.5rem 0;
  text-decoration: none;
}

.nav_principal>ul>li>a:hover {
  color: var(--primary);
}

.texto_activo {
  color: var(--primary);
  text-shadow: 0 0 10px var(--primary), 0 0 20px var(--primary), 0 0 40px var(--primary);
}

.icono_activo::before {
  content: '>';
  color: var(--primary);
  text-shadow: 0 0 10px var(--primary), 0 0 20px var(--primary), 0 0 40px var(--primary);
  margin-right: 0.5rem;
}

.inactivo {
  color: var(--secondary-foreground);
}