.Encabezado {
  position: fixed;
  z-index: 1000;
  border-bottom: solid 4px var(--primary);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: color-mix(in oklab, var(--background) 95%, transparent);
  padding: 1rem 0;
}


.Encabezado>h1 {
  font-size: 0.8rem;
  color: var(--primary);
  text-shadow: 0 0 10px var(--primary), 0 0 20px var(--primary), 0 0 40px var(--primary);
}

.nav_principal>ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.nav_principal>ul>li {
  cursor: pointer;
  list-style: none;
}


.nav_principal>ul>li>a {
  padding: 0.5rem 0;
  text-decoration: none;
}

.nav_principal>ul>li>a:hover {
  color: var(--primary);
}

.texto_activo {
  color: var(--primary);
  text-shadow: 0 0 10px var(--primary), 0 0 20px var(--primary), 0 0 40px var(--primary);
}

.icono_activo::before {
  content: '>';
  color: var(--primary);
  text-shadow: 0 0 10px var(--primary), 0 0 20px var(--primary), 0 0 40px var(--primary);
  margin-right: 0.5rem;
}

.inactivo {
  color: var(--muted-foreground);
}