.presentacion {
    display: grid;
    justify-items: center;
}

.logo {
    width: 250px;
    animation: cargarVertical 5s ease forwards;
    cursor: pointer;
    scale: 0.7;
}

.continuar {
    max-width: 150px;
    cursor: pointer;
    animation:
        cargarVertical 2s ease forwards,
        pulso 5s ease-in-out infinite 1.2s;
    pointer-events: all;
}

.espera {
    pointer-events: none;
    opacity: 0;
    max-width: 150px;
}

@keyframes cargarVertical {
    0% {
        clip-path: inset(0 0 100% 0);
        opacity: 0;
    }

    100% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

/* Pulso infinito */
@keyframes pulso {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}