.presentacion {
    height: 80%;
    position: relative;
    width: 100%;
}

.logo {
    width: 250px;
    animation: cargarVertical 4s ease forwards;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.instruccion {
    position: absolute;
    color: var(--foreground);
    font-size: 0.9rem;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    text-align: center;
}

.continuar {
    cursor: pointer;
    pointer-events: all;
}

.espera {
    pointer-events: none;
    opacity: 0;
}