.sobreMi {
    line-height: 1rem;
    font-size: 1rem;
}

.contexto {
    color: var(--muted-foreground);
    margin-bottom: 1.2rem;
    /* padding: 1rem; */
    /* border: dashed 2px var(--muted-foreground); */
}


.dialogo1,
.dialogo1 {
    margin-bottom: 1.2rem;
}

.dialogo1_nombre {
    color: var(--primary);

}

.dialogo1_msje {
    color: var(--pixel-green);
}

.dialogo2_nombre {
    color: var(--foreground);

}

.dialogo2_msje {
    color: var(--muted-foreground);
}

.comando {
    text-align: center;
    color: var(--pixel-yellow);
}



/* Derecha */

.dato {
    color: var(--secondary-foreground);
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.dato .nombre {
    color: var(--secondary-foreground);
}

.dato .puntuacion {
    color: var(--pixel-yellow);
}

.dato .progreso_contenedor {
    width: 100%;
    border: solid 2px var(--border);
    grid-column: 1 /-1;
    background-color: var(--secondary);
    overflow: hidden;
}



.dato .progreso {
    height: 1.5rem;
    background-image:
    linear-gradient(var(--muted) 1px, transparent 1px),
    linear-gradient(90deg, var(--muted) 1px, transparent 1px);
    background-size: 1rem 1rem;
   
}

.generales {
    border: solid 2px var(--border);
    background-color: var(--secondary);
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.2rem;
    padding: 1rem;
}

.G_dato {
    color: var(--muted-foreground);
}